<% title "Recent Posts" %>

<table border="0" cellspacing="0" cellpadding="5" class="recent-activity-table" width="100%">
  <% for post in @recent_posts %>
    <% row = row_class "list" %>
    <tr class="<%= row %>">
      <td class="date" width="80px"><%=  recent_date(post.created_at) %><br /><%= z(post.created_at).strftime("%I:%M%p").downcase %></td>
      <td class="post ">
        <% if post.class == Topic %>
          <em><%= h post.user.name %> started topic <%= link_to h(post.title), category_post_url(post.category, post) %></em><%= h(truncate(post.body, :length => 130).gsub(/<\/?[^>]*>/,  "")).gsub(/\s/, '&nbsp;' ) %>
        <% else %>
          <em><%= h post.user.name %> commented on <%= link_to h(post.topic.title), :controller => "posts", :action => "show", :id => post.topic, :category_id => post.category, :anchor => "comment-#{post.id}" %></em><%= h(truncate(post.body, :length => 130).gsub(/<\/?[^>]*>/,  "")).gsub(/\s/, '&nbsp;' ).gsub("&amp;nbsp;", "") %>
        <% end %>      
      </td>
      <td>
        <%= link_to post.category.title, category_url(post.category) %>
      </td>
    </tr>
  <% end %>
</table>

