<% title @forum.title %>

<div class="wrapper">
  
  <% if admin? %>
    <div>
      <p class="admin"><%= link_to_function "+ Add category", "Opinion.addElement('category')" %></p>
    </div>
    <div id="add-category" style="display:none; overflow:hidden">
      <%= form_remote_tag :url => categories_url(:forum_id => @forum.id)  %>   
      <dl>
        <dt>
          <label for="category-title-input">Category name</label>
        </dt>
        <dd><input name="category[title]" id="category-title-input" type="text" size="40"/></dd>
        <dt>
          <label for="category-subtitle">Subtitle</label>
        </dt>
        <dd><input name="category[subtitle]" id="category-subtitle" type="text" size="40"/></dd>
        <dt>
          <label for="category-access-level">Minimum required access level</label>
          
        </dt>
        <dd><input name="category[access_level]" id="category-access-level" type="text" value="0" size="4"/>
          <span class="hint">usually 0 (anyone)</span>          
        </dd>

      </dl>
      <input name="submit" type="submit" value="Add" /> or <%= link_to_function 'Cancel', "Opinion.cancelAddElement('category')" %>
      </form>
    </div>
  <% end %>

<div class="col-7">
<%= render :partial => '/categories/categories_table', :object => @categories %>
</div><!-- col-7 -->
  
<!-- <div id="page-nav"> -->
  <%#= will_paginate @categories %>
<!-- </div> -->

<div class="col-5 last ">
  <div class="forum-sidebar">
     <h4><img src="../images/forums/icon-support.gif" width="11" height="11" alt="Icon Support" /> Have a problem?</h4>
      <p>Contact <a href="http://support.myshopify.com/" title="Welcome - Shopify Support">Shopify's support team</a> if you have an issue with your store. Also take a look at our <a href="http://wiki.shopify.com/Main_Page" title="Main Page - Shopify Wiki"> Wiki</a> or<a href="http://api.shopify.com/" title="Shopify API Documentation"> API docs</a>.</p>
  </div><!-- .forum sidebar -->
  
  <div class="forum-sidebar">
    <h4><img src="../images/forums/icon-clock.png" width="11" height="11" alt="Icon Support" />  Recent Activity</h4>
     <% if @recent_posts.empty? %>
       <p>There were no recent posts&hellip;</p>
     <% else %>
       <%= render :partial => '/posts/recent_activity', :object => @recent_posts %>
     <% end %>
  </div><!-- .forum sidebar -->
   
</div><!-- .col-5 -->
</div><!-- wrapper -->


