<% title "Search Results" %>

<% crumb 'Search Results', {:controller => 'search', :action => 'posts', :q => params[:q]}, :class => 'active' %>






<div class="col-4 advanced-search">
  <% form_tag '', :method => :get do |form|  %>

    <label for="q">Search Terms</label><input type="text" name="q" value="<%= params[:q] %>" id="q" />
   <label for="author">Author</label><input type="text" name="author" value="<%= params[:author]%>" id="author">
   <label for="categories">Category</label><%= select_tag :category, options_for_select(available_categories, params[:category].to_i)  %>
    <input type="image" src="/images/forums/btn-search.png" value="Search" style="display:block" />

  <% end %>
</div><!-- .col-4 -->

<div class="col-8 last">
  <h2>Your search <em><%= h(params[:q]) %></em> matched <%= pluralize @count, 'result' %></h2>

  <% if @results.empty? %>  

  <p>Your search "<strong><%= h(params[:q]) %></strong>" did not match any topics or comments&hellip;</p>
  
  <% else %>
  <table id="search-results" cellspacing="0" cellpadding="0" >  
  
    <% @results.each do |result| %>
      <% css = row_class %>
      <tr class="<%= css %>">

        <td style="padding-top: 10px">
        <% if result.class == Topic %>
          <big><%= link_to result.title, category_post_url(result.category, result) %></big>
        <% else %>
          <%= result.title %>
          <big><%= link_to result.topic.title, :controller => 'posts', :action => 'show', :id => result.topic, :category_id => result.category, :anchor => "comment-#{result.id}" %></big>
        <% end %>
       
        </td>
      </tr>
      
      <tr>
       <td class="search-preview <%= css %>" colspan="2" style="border-bottom: 1px solid #ddd;padding-bottom: 10px"><%= result.body %><p class="details ">Posted by  <%= result.author_name %> in  <%= link_to result.category.title, category_url(result.category) %></p></td>         
      </tr>
    <% end %>
  </table>

  <div id="page-nav" class='clear'>
    <%= will_paginate @search %>
  </div>

  <% end %>
</div><!-- .col-6 last -->
  


