<% title "Administration" %>

<div class="wrapper">

<h2>Forum Adminstrators</h2>
  <h3>Super User</h3>

  <ul id="superadmin-list" class="admin-list">
    <% @superusers.each do |user| %>  
    <li id="user-<%= user.id %>" class="user">
      <div class="user-img">
        <img src="<%= gravatar_img(user.email,user.level) %>" />
      </div>
    
      <div class="user-info">
        <p class="fr sr"><%= link_to_remote image_tag('/images/trash.gif'), :url => {:controller => 'accounts', :action => 'destroy', :id => user.id}, :confirm => "Do you want to remove the user \"#{h user.name}\"?"  if user != session[:user] %></p>
        <p><%= link_to h(user.name), :controller => 'users', :action => 'show', :id => user.id %> | <%= h user.email %></p>

      </div>
    </li>
    <% end %>
  </ul>

  <h3 class="clear admin-heading">Administrators</h3>

  <ul id="administrator-list" class="admin-list">
    <% @admins.each do |user| %>  
    <li id="user-<%= user.id %>" class="user">
      <div class="user-img">
        <img src="<%= gravatar_img(user.email,user.level) %>" />
      </div>
    
      <div class="user-info">
        <p class="fr sr"><%= link_to_remote image_tag('/images/trash.gif'), :url => {:controller => 'accounts', :action => 'destroy', :id => user.id}, :confirm => "Do you want to remove the user \"#{h user.name}\"?" %></p>
        <h3><%= link_to h(user.name), :controller => 'users', :action => 'show', :id => user.id %></h3>
        <p class="small"><%= h user.email %></p>

      </div>
    </li>
    <% end %>
  </ul>


  <h3 class="clear admin-heading">Moderators</h3>

  <ul id="moderator-list" class="admin-list">
    <% @moderators.each do |user| %>  
    <li id="user-<%= user.id %>" class="user">
      <div class="user-img">
        <img src="<%= gravatar_img(user.email,user.level) %>" />
      </div>
    
      <div class="user-info">
        <p class="fr sr"><%= link_to_remote image_tag('/images/trash.gif'), :url => {:controller => 'accounts', :action => 'destroy', :id => user.id}, :confirm => "Do you want to remove the user \"#{h user.name}\"?" %></p>
        <h3><%= link_to h(user.name), :controller => 'users', :action => 'show', :id => user.id %></h3>
        <p class="small"><%= h user.email %></p>
      </div>
    </li>
    <% end %>
  </ul>


  <p class="clear"><%= link_to_function "Create new", "new Dialog('create-user', '/admin/new_user/')" %></p>
</div>


<div id="create-user" style="display:none">
</div>
