
<div class="reply reply-<%= comment.id %> <% 'admin-comment' if comment.user and comment.user.admin? %> ">
  
  <% if comment.user %>
  <div class="date">
   <p><%= formatted_date comment.created_at %></p>
  </div><!-- .date-bar -->
  <div class="author ">
    <div class="admin">
      <% if superuser? %><%= link_to image_tag('/images/deprecated/trash.gif'), category_post_url(comment.category, comment), :method => :delete, :confirm => "Are you sure you want to delete this comment?" %> | <%= link_to 'Edit this post', edit_category_post_url(@topic.category, @topic) %> | 

      <% elsif comment.editable? and comment.owner?(@user) %>
        <%= link_to 'Edit your post', edit_category_post_url(comment.category, comment) %>

        <% end %> 
         <a class="reply" href="#write-comment">Reply</a> 
     
  <% end %>
    </div><!-- .admin -->
    <div class="details">
  <% if comment.user %>
    <address class="gravatar" style="display:none"><%= Digest::MD5.hexdigest(comment.user.email) %></address> <%= link_to h(comment.user.name), :controller => 'users', :action => 'show', :id => comment.user.id %>
     <em><%= comment.user.title %></em>
  <% else %>
     <strong>Anonymously posted</strong>
   <% end %>

   </div><!-- .detail -->

  </div><!-- .author -->
  
  <div class="post">
    <%=  comment.body_html %>
    <% if comment.edited_at %>
      &mdash; Last edited <%= formatted_date(comment.edited_at) %>
    <% end %>
  </div><!-- .post -->
  
  <% if not comment.images.empty? %>
  <div>
    <% comment.images.each do |image| %>
    <%= link_to image_tag(image.public_filename(:thumb)), image.public_filename, :rel => "lightbox[#{comment.id}]" %>
    <% end %>
  </div>
  <% end %>
  
  

  <div class="sig">
    <%= sig comment.user %>
  </div><!-- .sig -->
  
</div><!-- .reply -->
