<ul class="recent-activity">
  <% for post in recent_activity  %>
  <li>
    <% if post.class == Topic %>
    <em><%=  recent_date(post.created_at) %> - <%= h post.user.name %> created the topic: </em> 
    <%= link_to h(post.title), category_post_url(post.category, post) %>
    
    <% else %>
    <em><%=  recent_date(post.created_at) %> - <%= h post.user.name %> commented on:  </em>
    <%= link_to h(post.topic.title), :controller => "posts", :action => "show", :id => post.topic, :category_id => post.category, :anchor => "comment-#{post.id}" %>
    
    <% end %>
  </li>
  <% end %>
  <li class="viewall"><a href="/recent_activity">View all activity &rsaquo;</a></li>
</ul>


