<% title "Create a new topic" %>

<% crumb "Home", index_url %>
<% crumb @category.forum.title, forum_url(@category.forum) %>
<% crumb @category.title, category_url(@category) %>
<% crumb "New topic", new_category_post_url(@category), :class => 'active' %>





  <div id="post" class="col-9">
      <h2>New topic</h2>
    <% form_for(:topic, :url => category_posts_url(@category), :html => {:id => 'topic-form', :multipart => true} ) do |form| %>   
    <dl>
      <dt>
        <label for="topic_title">Title of your topic</label>
      </dt>
      <dd><%= form.text_field 'title' %></dd>

      <dt>
        <label for="topic_body">Message</label>
      </dt>
      <dd><%= form.text_area 'body', :class => 'less' %></dd>
    </dl>


    <p>
      <% fields_for :image do |i| %>
      <label for="image_uploaded_data">Attach an image:</label>  <%= i.file_field :uploaded_data %>
      <% end %>
    </p>
    
    <p class="submit">
      <%= image_submit_tag("/images/forums/btn-submit.gif" , :disable_with => 'Creating topic&hellip;' )%> or <%= link_to_function 'Preview', "$('preview-title').innerHTML = $('topic_title').value;new Ajax.Updater('preview-body','/preview_textile', {postBody: $F('topic_body') });$('preview').show()" %> or <%= link_to 'Cancel', category_url(@category) %>
    </p>
    
    <% end %>
    
    
    <div id="preview" style="display:none">
      <span>Preview</span>
      <h3 id="preview-title"><%= h @topic.title %></h3>
      <div id="preview-body">
        <%= @topic.body_html %>
      </div>
    </div>

  </div> <!-- post -->


<div class="clear"> </div>