<% title "Login" %>

<div class="mini-form">
  <p class="text-center">Don't have an account? <%= link_to 'Register here', accounts_url(:action => 'new') %> </p>
<% form_tag accounts_url do %>   
  <input type="hidden" name="return_to" value="<%= params[:return_to] %>" />

  <label for="user_email">Email</label>

  <%= text_field 'user', 'email', { :tabindex => "1" } %>

  <label for="user_password">Password - <%= link_to 'I forgot my password', :action => 'password_recovery' %></label>

  <%= password_field 'user', 'password', { :tabindex => "2" } %>
  <p  class="forgot-password"></p>

  <p><input type="checkbox" checked name="remember" id="remember" style="margin:0; padding:0;" /> <label for="remember" style="margin:0; padding:0;vertical-align:middle">Remember me on this computer</label></p>

  <p class="submit"><input name="submit" type="image" src="/images/forums/btn-login.png" value="Login" tabindex="3" /></p>
<% end %>
</div><!-- .login -->

