<% title "Register a new account" %>

<div class="mini-form">
  <%= error_messages_for :user %>
  <% form_tag accounts_url(:action => 'create') do  %>   

      <label for="user_email">Email address</label>
   <%= text_field 'user', 'email' %>

   
      <label for="user_name">User name</label>
    <%= text_field 'user', 'name' %>


      <label for="user_url">Your website <span class="hint">(optional)</span></label>
<%= text_field 'user', 'url' %>


      <label for="user_password">Password</label>
    <%= password_field 'user', 'password' %>


      <label for="user_password_confirmation">Confirm Password</label>
    <%= password_field 'user', 'password_confirmation' %>
    
    <%= recaptcha_tags %>

  <p class="submit"><%= submit_tag 'Create account', :type => 'image', :src => '/images/forums/btn-submit.png', :disable_with => 'Creating account&hellip;' %></p>
  <% end %>
</div>